---
const today = new Date();
import HOMEPAGE_URL from '../consts.ts';
---

<footer class="text-zinc-400 text-center p-4">
  &copy; {today.getFullYear()} 
  <a href={HOMEPAGE_URL}>Gerardo Marx</a>. All rights reserved.

</footer>
